.App {
  width: 500px;
  margin: 0 auto;
}

.Filter {
  width: 100%;
  box-sizing: border-box;
}

.Form {
  width: 100%;
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.Form input {
  flex-grow: 1;
}

.List {
  padding: 0;
}

.ListItem {
  display: flex;
  gap: 10px;
  align-items: center;
}
